@media screen and (max-width: 600px);




html,
body {
    margin: 0;
    padding: 0;
}

input {
    display: flex;
    width: 80px;
    height: 20px;
    justify-content: end;
    background: #F08080;
    border-width: 0.5px;
    border-color: lightgrey;
}

button {
    height: 30px;
    width: 30px;
    text-align: justify;
    background-color: #F76C6C;
    border-width: 0;
}

#loupe {
    width: 20px;
    height: 20px;
}

#logo {
    width: 30px;
    height: 30px;
    justify-content: center;
}

header {
    display: grid;
    grid-template-columns: 1.9fr 1fr repeat(3, 0.1fr);
    background: #F76C6C;
}